html, body{
    margin: 0;
}

header{
    background: rgb(0, 102, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
}

header > img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 80px;
}

header > h1 {
    font-size: 2rem;
    font-weight: 400;
    font-family: Inter;
}

article.journal-entry{
    display: block;
}

.main-container{
    display: flex;
}

.main-image{
    width: 250px;
    height: 280px;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 30px;
}

.marker-image{
    height: 22px;
}

.info-container{
    margin-left: 25px;
    margin-top: 30px;
}

.info-container span.country{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-right: 2px;
}

.info-container a {
    color: #2B283A;
    font-size: 1.2rem;
    margin-left: 8px;
}

.info-container a:visited{
    color: #918E9B;
}

.info-conatiner h2.entry-title{
    margin-top: 12px;
    margin-bottom: 20px;
}